<div class="research_page">
    <div class="search_bar">
        <img class="logo research search_bar_element" src="img/google.png">
        <div class="search_bar_element">
            <form class="research">
                <input class="research search_bar_element" type="text">
                <button class="research search_bar_element">Search</button>
            </form>
        </div>
    </div>
    <div class="results">
        <div class="result_number">{{results.length}} results</div>

        {{#each results as |result|}}
            {{> result r=result}}
        {{/each}}

    </div>
</div>