<div class="research_page">
    <div class="search_bar">
        <img class="logo research search_bar_element" src="img/google.png">
        <div class="search_bar_element">
            <form class="research">
                <input class="research search_bar_element" type="text">
                <button class="research search_bar_element">Search</button>
            </form>
        </div>
    </div>
    <div class="results">
        <div class="result_number">37 Results</div>
        <div class="result">
            <div class="link_name">www.site.com</div>
            <div>
                <h1>
                    <a href="https://www.google.com">JavaScript Tutorial - W3 School</a>
                </h1>
                <p>Well organised and easy to understand Web building tutorials with lot of example of how to use HTML, CSS, Javascript, PHP</p>
                <ul>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascipt introduction</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">js function</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascript exemples</a></li>
                </ul>
            </div>
        </div>
        <div class="result">
            <div class="link_name">www.site.com</div>
            <div>
                <h1>
                    <a href="https://www.google.com">JavaScript Tutorial - W3 School</a>
                </h1>
                <p>Well organised and easy to understand Web building tutorials with lot of example of how to use HTML, CSS, Javascript, PHP</p>
                <ul>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascipt introduction</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">js function</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascript exemples</a></li>
                </ul>
            </div>
        </div>
        <div class="result">
            <div class="link_name">www.site.com</div>
            <div>
                <h1>
                    <a href="https://www.google.com">JavaScript Tutorial - W3 School</a>
                </h1>
                <p>Well organised and easy to understand Web building tutorials with lot of example of how to use HTML, CSS, Javascript, PHP</p>
                <ul>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascipt introduction</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">js function</a></li>
                    <li><a class="small_links" href="https://www.google.com" target="_blank">javascript exemples</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>